body {
    background-color: #00a2fd;
    margin-left: 15px;
    text-align: center;
}

img {
    border-bottom: 10px solid transparent;
    width: 100%;
    max-width: 200px;
}

h2 {
    font-family: Track;
    color: white;
    font-size: 20px;
}

footer {
    font-family: Track;
    color: cornsilk;
    font-size: small;
}

.imgEditor {
    border: 1px solid transparent;
    width: 100%;
    max-width: 35px;
    border-radius: 10%;
}